
doctype html
html
    head
        // Basic
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        // Mobile Metas
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Site Metas
        meta(name='keywords' content='')
        meta(name='description' content='')
        meta(name='author' content='')
        link(rel='shortcut icon' href='images/favicon.png' type='')
        title  Coures 
        link(rel='stylesheet' type='text/css' href='/css/Bootrap_css/Style_page/Home_styles.css')
        link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css' integrity='sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==' crossorigin='anonymous')
        link(href='/css/Bootrap_css/Fontawaresome/font-awesome.min.css' rel='stylesheet')
        link(href='/css/Bootrap_css/Style_template/style.css' rel='stylesheet')
        link(href='/css/Bootrap_css/responsive/responsive.css' rel='stylesheet')
        body 
            footer.footer_section
                        .container
                            .row
                                .col-md-4.footer-col
                                    .footer_contact
                                        h4
                                            | Liên hệ chúng tôi

                                        .contact_link_box
                                            a(href='')
                                                i.fa.fa-map-marker(aria-hidden='true')
                                                span
                                                    | Địa Điểm
                                            a(href='')
                                                i.fa.fa-phone(aria-hidden='true')
                                                span
                                                    | Gọi 0342625114
                                            a(href='')
                                                i.fa.fa-envelope(aria-hidden='true')
                                                span
                                                    | dinhkhactuan2002@gmail.com
                                .col-md-4.footer-col
                                    .footer_detail
                                        a.footer-logo(href='')
                                            | Coures
                                        p
                                            | Tôi phát triển trang website này để giúp những người mới tiếp cận lập trình và cũng như giúp tôi tổng hợp kiến thức để dễ học tập liên hệ với tôi cùng
                                        .footer_social
                                            a(href='https://www.facebook.com/profile.php?id=100040739602255')
                                                i.fa.fa-facebook(aria-hidden='true')
                                            a(href='')
                                                i.fa.fa-twitter(aria-hidden='true')
                                            a(href='')
                                                i.fa.fa-linkedin(aria-hidden='true')
                                            a(href='')
                                                i.fa.fa-instagram(aria-hidden='true')
                                            a(href='')
                                                i.fa.fa-pinterest(aria-hidden='true')
                                .col-md-4.footer-col
                                    h4
                                        | Opening Hours
                                    p
                                        | Everyday
                                    p
                                        | 6.00 Am -10.00 Pm
                            .footer-info
                                p
                                    | © 
                                    span#displayYear
                                    |  Website Developed by
                                    a(href='https://www.facebook.com/profile.php?id=100040739602255')  Đinh Khắc Tuấn
                                    br
                                    br
                                    |           © 
                                    span#displayYear
                                    |  Được phát triển bởi 
                                    a(href='https://themewagon.com/' target='_blank') Đinh Khắc Tuấn

            script(src='/js/js_page_template/jquery-3.4.1.min.js')
            script(src='/js/js_page_template/bootstrap.js')
            script(src='/js/js_page_template/custom.js')

            