
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='icon' type='image/png' sizes='192x192' href='/Favicon/favicon.ico/apple-icon-76x76.png')
        title  #{title}
        link(href='/css/style.min.css' rel='stylesheet')
        link(rel="stylesheet" href="/css/app_css/app.css")
        link(href="/css/Bootrap_css/Fontawaresome/font-awesome.min.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
        link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css' integrity='sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==' crossorigin='anonymous')
        link(href='/css/Bootrap_css/Fontawaresome/font-awesome.min.css' rel='stylesheet')
        link(href='/css/Bootrap_css/Style_template/style.css' rel='stylesheet')
        link(href='/css/Bootrap_css/responsive/responsive.css' rel='stylesheet')
        link(href='/Bootstrap_plugins_admin/bower_components/chartist/dist/chartist.min.css' rel='stylesheet')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css')
        link(href='/Bootstrap_plugins_admin/bower_components/chartist/dist/chartist.min.css' rel='stylesheet')
        link(rel='stylesheet' href='/Bootstrap_plugins_admin/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css')
        
    body
        include _header
        block content
        include _footer

        script(type="text/javascript" src="https://cdn.fchat.vn/assets/embed/webchat.js?id=643695520fee005c564a36a9" async="async")
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js") 
        script(src='/js/scripts.js')
        script(src='/js/login.js')
        script(src='/js/logout.js')
        script(src='/js/signUp.js')
        script(src="/js/handler.js") 
        script(src="/js/Update_user.js") 
        script(src="/js/Update_Coures.js") 
        script(src="/js/Delete_Coures.js") 
        script(src="/js/Create_admin.js") 
        script(src="/js/Edit_admin.js") 
        script(src='/js/js_page_template/jquery-3.4.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
        script(src='/js/js_page_template/bootstrap.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')
        script(src='https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js')
        script(src='/js/js_page_template/custom.js')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap')


