extends main 
block content
        body
        .sub_page
            .hero_area

                // header section strats
                section.about_section.layout_padding
                    .container
                        .row
                            .col-md-6
                                .img-box
                                    img(src='/img/about_me.jpg' alt='')
                            .col-md-6
                                .detail-box
                                    .heading_container
                                        h2 We Are Coures
                                    p
                                        | Tôi phát triển trang web này mục đích giúp tôi và các bạn đam mê lập trình học tập và tổng hợp các khóa học chất lượng, những nguồn tài liệu hay, dễ tìm kiếm và học hỏi đặc biệt là với các bạn mới tiếp cận lập trình
                                    a(href='')  Read More 
           
